#main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  gap: 9px;
  position: relative;
  color: white;
}

#main h1 {
  background-color: #333;
  padding: 3px 0px 3px 0px;
}

#div {
  width: 200px;
  transition: 3s;
  height: 22px;
  background-color: #333;
  position: absolute;
  top: 11px;
  left: 0px;
}

#div_ {
  width: 200px;
  transition: 3s;
  height: 22px;
  background-color: #333;
  position: absolute;
  top: 11px;
  left: 200px;
}
