.main {
    width: 100%;
    padding: 101px 70px 101px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;

    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 49px;
        flex-wrap: wrap;
        width: 100%;

        main {
            display: grid;
            gap: 20px;
            place-items: center;
            text-align: center;

            p {
                max-width: 200px;
                margin: auto;
            }

            button {
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 12px;
            }
        }
    }
}