* {
    background-color: rebeccapurple;
    color: rgb(226, 226, 226);
}

#to_do_app_main {
    width: 100%;

    a {
        font-size: 8pt;
        padding: 6px;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .first_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 110px 1px 21px 1px;

        h1 {
            font-size: 31px;
        }

        .border {
            width: 97%;
            background-color: gray;
            border-radius: 3px;
        }

        form {
            padding: 21px 1px 21px 1px;

            div {
                .input {
                    width: 501px;
                    padding: 3px 21px 3px 21px;
                    outline: none;
                    background-color: rgb(211, 207, 207);
                    color: rgb(13, 6, 43);
                    font-weight: bold;

                    @media(max-width:560px) {
                        width: 70vw;
                    }
                }

                button {
                    background-color: rgb(13, 6, 43);
                    padding: 3px 21px 3px 21px;

                    &:active {
                        opacity: .8;
                    }
                }

            }

            display: flex;
            flex-direction: column;
            gap: 9px;
        }
    }

    .second_container {
        padding: 61px 21px 21px 21px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 18px;
        background-color: rgb(38, 7, 88);


        h2 {
            font-size: 28px;
            font-weight: bolder;
            border: solid 1px whitesmoke;
            width: max-content;
            padding: 3px;
        }

        .to_do {
            display: flex;
            width: max-content;
            gap: 29px;
            align-items: center;
            background-color: rgb(38, 7, 88);

            @media(max-width:501px) {
                flex-direction: column;
                gap: 15px;
            }

            .btn_div {
                display: flex;
                gap: 3px;
                width: max-content;
                background-color: rgb(38, 7, 88);

                @media(max-width:501px) {
                    width: 100%;
                    gap: 12px;
                }

                button {
                    border: solid 1px whitesmoke;
                    padding: 3px;
                    font-size: 11.1px;

                    &:nth-child(1) {
                        background-color: green;
                    }

                    &:nth-child(2) {
                        background-color: red;
                    }
                }
            }
        }
    }
}