#main {
    width: 100%;
    padding: 200px 0px 200px 0px;
    background-image: url("https://cdn.pixabay.com/animation/2023/03/31/01/32/01-32-38-664_512.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
}

#inner_div {
    display: grid;
    gap: 93px;
}

#inner_div h1 {
    font-size: 50px;
}

#inner_section {
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.507);
    padding: 11px;
    gap: 6px;
}

#inner_section a:hover {
    font-size: 22px;
    transition: 2s;
    opacity: .6;
}

#inner_section a:hover {
    opacity: 1;
}

#btn_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px;
}

#btn_div button {
    padding: 4px 22px 4px 22px;
    border: solid 1px grey;
    border-radius: 3px;
    cursor: pointer;
}

#btn_div button:hover {
    opacity: .8;
}

#btn_div button:active {
    border: solid 1px rgba(128, 128, 128, 0.014);
}

@media only screen and (max-width:768px) {
    #main {
        padding: 170px 0px 170px 0px;
    }
}