#main_div {
    width: 100%;
    padding: 3vh 0vh 9vh 0vh;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: silver;
}

#FirstDiv {
    background-color: #000000;
    display: grid;
    place-items: center;
    padding: 0px 6px 0px 6px;
    flex: 1;
}

#FirstDiv ul {
    display: grid;
    place-items: center;
    height: 90vh;
}

#FirstDiv ul li {
    display: grid;
    place-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 11px;
    padding: 11px;
    border-radius: 8px;
}

#SecondDiv {
    flex: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#SecondDiv h1 {
    font-size: 50px;
}

#SecondDiv #paragraph_div {
    padding-top: 30vh;
    padding-left: 22px;
    display: grid;
    gap: 11px;
}

#SecondDiv #paragraph_div p {
    width: 60%;
}

#SecondDiv #lastborder {
    width: 100%;
    position: relative;
    height: 3px;
    background-color: grey;
}

@media only screen and (max-width:768px) {
    #FirstDiv {
        flex: 2;
    }

    #SecondDiv #paragraph_div {
        place-items: center;
    }
}