.header {
    width: 100%;
    height: 95vh;
    text-align: center;
    font-size: 42px;
    background-image: url("/gallery/asia-1299778_640.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    p {
        position: relative;
        top: 10vh;
    }
}

// Image by <a href="https://pixabay.com/users/openclipart-vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1299778">OpenClipart-Vectors</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1299778">Pixabay</a>